<nav aria-label="Primary">
    <div class="projects">
        {%- for project in site.projects %}
        <a class="brand{% if project.id == page.project %} current{% endif %}" href="{{ project.url }}"
            {% if project.id == page.project %}aria-current="page"{% endif %}>
            <img src="{{ project.logo }}" alt="" width="31" height="32">
            <span>{{ project.name }}</span>
        </a>
        {%- endfor %}
    </div>
    <ul>
        {%- assign current = site.projects | where: "id", page.project | first %}
        {%- for link in current.links %}
        <li><a{% if link.icon %} class="icon-link"{% endif %} href="{{ link.url }}"
                {%- if link.url == page.nav_url %} aria-current="page"{% endif %}>
                {%- if link.icon %}<span class="icon {{ link.icon }}" aria-hidden="true"></span>{% endif -%}
                {{ link.title }}</a></li>
        {%- endfor %}
    </ul>
</nav>
